[submodule "deps/metaplex-program-library"]
	path = deps/metaplex-program-library
	url = https://github.com/jarry-xiao/metaplex-program-library
[submodule "deps/solana-program-library"]
	path = deps/solana-program-library
	url = https://github.com/solana-labs/solana-program-library.git
[submodule "deps/accountsdb-postgres"]
	path = deps/accountsdb-postgres
	url = https://github.com/solana-labs/solana-accountsdb-plugin-postgres.git
[submodule "deps/solana"]
	path = deps/solana
	url = https://github.com/solana-labs/solana.git
[submodule "deps/anchor"]
	path = deps/anchor
	url = https://github.com/ngundotra/anchor
